$primary-gradient: linear-gradient(90deg, rgba(1, 95, 67, 0.2) 0%, #005239 100%);
$primary-color: #00875f;
$secondary-color: #e1e1e6;
$bg-color: #060A08;
$titles: 'Philosopher', sans-serif;
$description: 'Montserrat', sans-serif;